body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(142, 192, 207);
}

h1{
    font-family: cursive;
}

#btnContainer {
    background-color: rgb(203, 255, 196);
    height: 50px;
    width: 400px;
    border: 2px solid black;
}

#contContainer {
    background-color: rebeccapurple ;
    height: 500px;
    width: 400px;
    border: 2px solid black;
}
